/* styles/globals.css */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
html,
body {
  font-family: "EB Garamond", serif;
  background-color: white;
  color: #333;
  line-height: 1.6;
}

/* Headings use the same font with bold weight */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "EB Garamond", serif;
  font-weight: 700;
}

/* Increase paragraph size */
p {
  font-size: 1.125rem; /* This sets paragraphs to text-lg */
  margin-bottom: 1.5rem;
}

/* Optionally adjust spacing for the prose class if needed */
.prose p {
  margin-bottom: 1.5rem;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  /* Container Styles */
  .page-container {
    @apply min-h-screen bg-white;
  }

  .content-layout {
    @apply flex flex-col md:flex-row w-full max-w-full overflow-hidden gap-y-4 mt-6 mb-6;
  }

  .sidebar,
  .right-sidebar {
    @apply basis-1/6 flex-shrink-0 flex-grow-0 w-1/6;
  }

  .main-content {
    @apply container mx-auto px-4 md:px-6 lg:px-8 space-y-4 md:space-y-8 sm:max-w-[600px] md:max-w-full;
  }

  /* Section Styles */

  .section-content {
    @apply space-y-6 lg:space-y-8;
  }
  .section-block {
    @apply prose max-w-none text-left text-lg md:text-justify;
  }
  .section-title {
    @apply text-xl md:text-2xl font-bold;
  }
  .section-subtitle {
    @apply text-lg font-semibold;
  }
  .section-paragraph {
    @apply text-lg selection:bg-yellow-300 selection:text-black;
  }
  .section-quote {
    @apply text-lg font-semibold;
  }
  .section-quote-em {
    @apply text-lg font-normal selection:bg-yellow-300 selection:text-black;
  }
  .section-list {
    @apply list-decimal px-4 space-y-6 lg:space-y-8 text-lg;
  }
  .section-question {
    @apply text-lg font-semibold;
  }
  .section-answer {
    @apply font-normal mt-2 selection:bg-yellow-300 selection:text-black;
  }

  /* Article Styles */

  .article-block {
    @apply prose max-w-none text-left text-lg md:text-justify;
  }
  .article-subtitle {
    @apply text-lg font-semibold;
  }
  .article-paragraph {
    @apply text-lg selection:bg-yellow-300 selection:text-black;
  }

  /* youtube Styles */

  .youtube-section {
    @apply space-y-4 md:space-y-8;
  }

  .video-container {
    @apply flex justify-center;
  }

  .video-container-2 {
    @apply h-[260px] lg:h-[400px] w-full shadow-md shadow-gray-600;
  }

  .video-frame {
    @apply w-full h-full;
  }
  .pdf-container {
    @apply w-full h-[480px] lg:h-screen border border-gray-200;
  }
  .pdf-frame {
    @apply w-full h-full;
  }
}

/* Box Styles */
.box-preview {
  @apply p-6 border border-gray-200 rounded-lg shadow-md space-y-3;
}

.box-link {
  @apply inline-block text-blue-600 hover:underline font-medium;
}
